
<div class="counter-wrapper">
<p id="demo"></p>
  <p>{{ section.settings.text }}</p>
</div>


{% schema %}
  {
"name": "Password Banner",
"tag": "section",
"class": "section site-password-banner",
    "settings": [
{
  "type":"text",
"id":"date",
  "label":"Date",
  "info":"Date Format Jan 5, 2024"
},
      {
  "type":"text",
"id":"time",
  "label":"Time",
  "info":"Date Format '15:37:25' (Hour:Min:Sec)"
},
           {
  "type":"text",
"id":"text",
  "label":"Text",
  "default":"The website will open when the timer below ends"
}
]
  }
{% endschema %}


<script>
var countDownDate = new Date("{{section.settings.date}} {{section.settings.time}}").getTime();
var x = setInterval(function() {
  var now = new Date().getTime();
  var distance = countDownDate - now;
  var days = Math.floor(distance / (1000 * 60 * 60 * 24));
  var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
  var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
  var seconds = Math.floor((distance % (1000 * 60)) / 1000);
  if(days < 10){
      days = "0" + days;
    }
  if(hours < 10){
      hours = "0" + hours;
    }
  if(minutes < 10){
      minutes = "0" + minutes;
    }
    if(seconds < 10){
      seconds = "0" + seconds;
    }
  // Output the result in an element with id="demo"
  document.getElementById("demo").innerHTML = days + "<span>:</span>" + hours + "<span>:</span>"
  + minutes + "<span>:</span>" + seconds;
  if (distance < 0) {
    clearInterval(x);
    document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
</script>
